.modal-heading {
    font-size: 1.3em;
    padding: 0.8em;
}

.thumbnailx {
    border-radius: 0.3em;
    border: 0.1em solid #BDC3C7;
    cursor: pointer;
    position: relative;
    /*width: 175px;*/
    height: 150px;
    overflow: hidden;
    margin-bottom: 0.6em;
    background-color: #333333;
    /*-moz-box-shadow:    3px 3px 5px 6px #ccc;*/
    /*-webkit-box-shadow: 3px 3px 5px 6px #ccc;*/
}

.thumbnailx img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    /*-webkit-transform: translate(-50%,-50%);*/
    /*-ms-transform: translate(-50%,-50%);*/
    transform: translate(-50%,-50%);
}

.nav-item-bold {
    color: #F1C40F;
    border: 0.08em solid #F1C40F;
    padding: 0.5em;
    border-radius: 0.3em;
    transition : 0.4s;
}

.nav-item-bold i {
    color : #C0392B;
}

.nav-item-bold:hover {
    background-color: #F1C40F;
    border: 0.08em solid #F1C40F;
    color : black;
}

@media screen and (max-width: 767px) {
    .nav-item-bold {
        display: block;
    }
}

.caption-ownad {
    height: 140px !important;
    overflow: hidden;
    padding: 0.3em;
}

.caption h4 {
    white-space: nowrap;
    margin-bottom: 0;
}